@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div style="background-color:blue">
    <partial name="~/Views/Partials/_EmployeeDetailsPartial.cshtml" for="@Model" />
</div>
