@model PersonViewModel

<div style="background-color:red">
    <h2>Id - @Model.Id</h2>
    <h3>Name - @Model.Name</h3>
    <h4>Occupation - @Model.Occupation</h4>

    <h3>
        @{ var x = 100 + 200;}
        @x
    </h3>
</div>