@{
    ViewData["Title"] = "Sample Page";
}

<h2>Hello from Sample Controller - Index View</h2>
<h3>@ViewData["Country"]</h3>
<h4>@ViewData["Phrase"]</h4>

<h2>@ViewBag.FirstName</h2>
<h2>@ViewBag.LastName</h2>

@*@section Scripts
{
<script>
    alert("Hii");
</script>
}*@